[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-environ = "*"
djoser = "*"
django-ckeditor = "*"
pillow = "*"
mutagen = "*"
argon2-cffi = "*"
braintree = "*"
pyjwt = "*"
boto3 = "*"
django-storages = "*"
markdown = "*"
gunicorn = "*"
requests = "*"
django-cors-headers = "*"
psycopg2-binary = "*"
whitenoise = "*"
django-allauth = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.10"
